{% include 'catalogue/base.html' %}
 {% load static %}

   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'catalogue.css'%}">
</head>
<body>
    <div class="row">
        {% for product in products %}
  
        <div class="col-lg-4">
          <img src="{{ product.product_image.url }}" />
          <p>
            <a href="/products/{{product.id}}/">{{product.title}}</a>
            <br />{{product.kiosk.currency}} {{product.selling_price}} <br />
            
          </p>
          <br />
  
          <button>Add to cart</button> 
          <a href="/products/{{product.id}}/"><button>view</button></a>
        </div>
  
        {% endfor %}
      </div>
    
</body>
</html>
    