img{
  height: 200px;
  width: 200px;
  padding-left: 40px;
}

h1{
  color: red;
}


.row{
  margin: 30px;
  padding-left: 20px;
  
}

a{
  color: black;
}

p{
  padding-top: 5px;
  padding-left: 20px;
  color: black;
}

.col-lg-4{

  /* box-shadow: hsl(0, 0%, 88%) 0 0 16px; */
  background-color: #fff;
  border: 30px solid rgb(255, 253, 253);
  /* padding-left: 0px; */
  padding-bottom: 20px;
  
}

button{
  padding: 8px 25px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding-left: 30px;
  border-radius: 10px;
}

button:hover{
  background-color: #4caf50; /* Green */
  color: white;
}

.detail-img{
  height: 250px;
  width: 250px;
}

.detail-cont{
  padding: 30px;
}